
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <title> Slim use mvc </title>
      <!-- Favicon-->
      <link rel="icon" href="/handlebars_test/favicon.ico" type="image/x-icon">
      <!-- 
      <link rel="icon" href="/mvc_slim/src/templates/img/50520743_2507459125993524_1920758814139744256_n.jpg" type="image/x-icon"> -->
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
      <!-- Bootstrap Core Css -->
      <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- Waves Effect Css -->
      <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/node-waves/waves.css" rel="stylesheet" />
      <!-- Animation Css -->
      <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/animate-css/animate.css" rel="stylesheet" />
      <!-- Custom Css -->
      <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/css/style.css" rel="stylesheet">
      <!-- Latest compiled and minified CSS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
<style>
.content.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s; }

.content.hover-expand-effect:hover:after {
  width: 100%; }
  .profile-card .profile-header {
    background-color: #337a99;
    padding: 42px 0;
}
section.content {
    margin: 100px 15px 0 0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.login-page {
    background-color: #a9cbf2;;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden;
}
    </style>
    <body>


