<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ReadyCRM</title>
        <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
    </head>
    <body>
        {% include 'partials/navigation.twig' %}
        <div class="main">
            aaa {% block content %}{% endblock %} bbb
        </div>
    </body>
</html>