<div class="container-fluid " style="    margin-bottom: 10%;">

        <nav class="navbar">
            <div class="container-fluid"  style="background: #333;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/mvc_slim/public/other/menu_controller">HOME</a>
                </div>

            </div>
        </nav>
</div>